html {
  height: 100%;
}

@keyframes bgcolor {
  0% {
    background-color: #45a3e5;
  }

  25% {
    background-color: #66bf39;
  }

  50% {
    background-color: #eb670f;
  }

  75% {
    background-color: #f35;
  }

  100% {
    background-color: #864cbf;
  }
}

body {
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: space-around;
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
